<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
 

  <h2>Create Account</h2>

  <!-- Full Name -->
  <div class="form-group">
    <label>First Name</label>
    <input type="text" formControlName="firstName" />
    

    <small *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.errors?.['required']" class="error">
      First name is required
    </small>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" formControlName="lastName" />
    

    <small *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.errors?.['required']" class="error">
      Last name is required
    </small>
  </div>

  <!-- Email -->
  <div class="form-group">
    <label>Email</label>
    <input type="email" formControlName="email" />

    <small *ngIf="registerForm.get('email')?.touched" class="error">
      <span *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</span>
      <span *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email</span>
    </small>
  </div>

  <!-- Password -->
  <div class="form-group">
    <label>Password</label>

    <div class="password-wrapper">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password" />

<span (click)="togglePassword()">

  <!-- Show icon -->
  <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg"
       width="20" height="20" viewBox="0 0 24 24" fill="none">
    <path d="M12 5C6 5 2 12 2 12s4 7 10 7 10-7 10-7-4-7-10-7z"
          stroke="black" stroke-width="2"/>
    <circle cx="12" cy="12" r="3"
            stroke="black" stroke-width="2"/>
  </svg>

  <!-- Hide icon -->
  <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg"
       width="20" height="20" viewBox="0 0 24 24" fill="none">
    <path d="M2 2l20 20" stroke="black" stroke-width="2"/>
    <path d="M12 5c6 0 10 7 10 7"
          stroke="black" stroke-width="2"/>
    <path d="M6 6c-2 1.5-4 6-4 6s4 7 10 7"
          stroke="black" stroke-width="2"/>
  </svg>

</span>
    </div>
  </div>

  
  <!-- Confirm Password -->
<div class="form-group">
  <label>Confirm Password</label>
  <div class="password-wrapper">
    <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" />

<span (click)="toggleConfirmPassword()">
      <!-- Show icon -->
      <svg *ngIf="!showConfirmPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
        <path d="M12 5C6 5 2 12 2 12s4 7 10 7 10-7 10-7-4-7-10-7z" stroke="black" stroke-width="2"/>
        <circle cx="12" cy="12" r="3" stroke="black" stroke-width="2"/>
      </svg>

      <!-- Hide icon -->
      <svg *ngIf="showConfirmPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
        <path d="M2 2l20 20" stroke="black" stroke-width="2"/>
        <path d="M12 5c6 0 10 7 10 7" stroke="black" stroke-width="2"/>
        <path d="M6 6c-2 1.5-4 6-4 6s4 7 10 7" stroke="black" stroke-width="2"/>
      </svg>
    </span>
  </div>
</div>

  <!-- Password mismatch -->
  <div class="form-group">
    <small class="error" *ngIf="registerForm.errors?.['mismatch'] && registerForm.touched">
      Passwords do not match ❌
    </small>
  </div>

  <!-- Submit Button -->
  <button type="submit" [disabled]="registerForm.invalid">
    Register
  </button>

  <!-- Messages -->
  <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
  <p class="success" *ngIf="successMsg">{{ successMsg }}</p>

  <!-- Login Link -->
  <p class="login-link">
    Already have an account?
    <a routerLink="/login">Login</a><br>
    <a routerLink="/">dr</a>
  </p>

</form>